:root {
  --black-color: #212121;
  --brand-color: #2196f3;
  --second-color: #757575;
  --white-color: #ffffff;
  --transparent: rgba(148, 110, 110, 0.1);
  --button-color: #f5f4fa;
  --icon-color: #afb1b8;
  --set-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
